    a{
    text-decoration:none;
    color:black;
    }
    p{
    font-family:
    font-size:
    color:
    text-align:
    font-style:
    }
    img{
    display:block;
    margin:auto;
    }